/* index.css */
@import "tailwindcss";
@import "./base.css";
@import "./utilities.css";
@theme {
  --color-brand-primary: #722b76;
  --color-brand-primary-dark: #5a215e;
  --color-brand-secondary: #ebe2fa;
  --color-state-info: #a3c1da;
  --color-state-success: #5cb85c;
  --color-state-warning: #ffc107;
  --color-state-error: #d9534f;
  --color-black-1: #333333;
  --color-black-2: #000000;
  --color-grey-1: #4a4a4a;
  --color-grey-2: #9e9e9e;
  --color-white-1: #fafafa;
  --color-white-2: #ffffff;
  --color-beige-1: #f6e3cc;
}
